#header {
	text-align: center;
	font-size: 20px;
}


body {
	font-family: Verdana, Palpatino, Arial;
	background-color: #404040;
	color: white;
}


#example-work {
	padding: 30px;
	font-size: 15px;
	text-align: left;
}


#example-work a:hover {
	filter: brightness(80%);
}


#my-work {
	padding: 30px;
	font-size: 15px;
	text-align: left;
}


#my-work a:hover {
	filter: brightness(80%);
}


#footer {
	clear: both;
	font-size: 10px;
	text-align: center;
}