#header {
	font-size: 25px;
	text-align: center;
}


body {
	background-color: #404040;
	color: white;
	font-family: Verdana, Palpatino, Arial;
}


#main {
	padding: 50px;
	float: right;
	font-size: 20px;
}


#navigate {
	padding: 10px;
	float: left;
	text-align: right;
	font-size: 15px;
}


ul {
	list-style-type: none;
}


li a {
	display: block;
	color: white;
	text-align: center;
	padding: 20px;
	text-decoration: none;
}


li a:hover {
	background-color: #222222;
}


#previews {
	float: right;
	padding: 10px;
	text-align: center;
}


#previews a:hover {
	filter: brightness(80%);
}


#footer {
	clear: both;
	font-size: 10px;
	text-align: center;
}
