#header {
	font-size: 25px;
	text-align: center;
}


#header h1 {
	padding-right: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
}


#header a {
	float: left;
	padding-left: 115px;
	padding-top: 10px;
}


#header a:hover {
	filter: brightness(80%);
}


hr {
	clear: both;
}


body {
	font-family: Verdana, Palpatino, Arial;
	background-color: #404040;
	color: white;
}


#board {
	padding: 30px;
	font-size: 20px;
	text-align: left;
}


#board a:hover {
	filter: brightness(80%);
}


#pinterest a:hover {
	filter: brightness(80%);
}


#footer {
	clear: both;
	font-size: 10px;
	text-align: center;
}


#footer ul {
	padding-left: 47.5%;
}


#footer li {
	display: inline;
	float: left;
	padding: 10px;
}